<!DOCTYPE html> 
<html> 
  <head> 
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    <meta charset='utf-8'> 
    <link href='/stylesheets/reset.css' rel='stylesheet' type='text/css'> 
    <link href='/stylesheets/main.css' rel='stylesheet' type='text/css'> 
    <link href="http://feeds.feedburner.com/hentzia" rel="alternate" title="RSS" type="application/rss+xml">
    <title>{{ page.title }}</title> 
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19371383-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head> 
  <body>
    <hgroup> 
      <h1><a href="/">Hentzia</a></h1> 
      <h2>makin' webs</h2> 
    </hgroup> 
    <nav>
      <a id="nav-blog" href="/blog">Blog</a>
      <a id="nav-feed" href="http://feeds.feedburner.com/hentzia"><img src="/images/icons/feed-icon-14x14.png" alt="Feed Icon" title="Subscribe to the RSS Feed"></a>
    </nav>
    <section> 
      {{ content }}
    </section>
    <!-- Disqus comment count code -->
    <script type="text/javascript">
    var disqus_shortname = 'hentzia';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.src = 'http://disqus.com/forums/hentzia/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
  </body> 
</html>
